/*	Global elements --------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; vertical-align: baseline;
	background: transparent; border: 0;
}
html, body, #app {height: 100%;}
body, html, button, input, select, textarea,
.pure-g [class *= 'pure-u'] {
	color: #222; font-weight: 300;
	font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	letter-spacing: .02em;
}

html {
  scroll-behavior: smooth;
}

img, audio, video { max-width: 100% } /*prevent elements width > screen width on small screens*/

h1, h2, h3, h4, h5, h6 {font-weight: normal;}

ul {list-style-type: none;}

a {text-decoration: none; cursor: pointer;}
a, a:link, a:visited {color: #55f;} /*transition: all ease 1s;*/
a:focus, a:hover, a:active {text-decoration: underline;}

button {color: #55f;}

/*>Global Classes ----------------------------------------------------------- */
.left {text-align: left;}
.center {text-align: center;}
.right {text-align: right;}
.justify {text-align: justify;}
.small {font-size: .7rem;}
.visible {display: block;}
.hidden {display: none;}

/* Structure --------------------------------------------------------------- */
#wrapper {
	margin: 0 auto; min-height: 100%;
	background: #358;
  -webkit-background-size: auto 100%;
	-moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover;
}
/*@media only screen and (min-width: 48em) {
	#wrapper {
		background: url(/img/bgWrapper8_sm.jpg) center / cover no-repeat fixed #113;
	}
}
@media only screen and (min-width: 64em) {
	#wrapper {
		background: url(/img/bgWrapper8_md.jpg) center / cover no-repeat fixed #113;
	}
}
@media only screen and (min-width: 1200px) {
	#wrapper {
		background: url(/img/bgWrapper8_md.jpg) center / cover no-repeat fixed #113;
  }
}
@media only screen and (min-width: 2500px) {
	#wrapper {
		background: url(/img/bgWrapper8_lg.jpg) center / cover no-repeat fixed #113;
  }
}
@media only screen and (min-width: 3800px) {
	#wrapper {
		background: url(/img/bgWrapper8_xl.jpg) center / cover no-repeat fixed #113;
  }
}*/

/*	side-buttons ---------------------------------------------------------- */
#scrollButtons {
	position: fixed; right: 0; bottom: 35%; width: 2.5em; z-index: 5;
}

#scrollButtons a {
	display: block; line-height: 1.25em; font-size: 1.25rem; font-family: FontAwesome;
	text-decoration: none;
}
#scrollButtons a:focus,
#scrollButtons a:hover,
#scrollButtons a:active {color: #d00;}
#scrollUp a::before {content: '\f102';}
#scrollDown a::before {content: '\f103';}

@media only screen and (min-width: 1100px) {
	#scrollButtons {
		bottom: 40%; bottom: calc(50% - 3.5em);
		left: calc(50% + 505px); width: 2.5em;
	}
}

/*	header ------------------------------------------------------------------ */
header {
	position: fixed; top: 0; left: 0;	width: 100%; z-index: 5;
	background: #fff;
	box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, .8);
}

/*		- brand --------------------------------------------------------------- */
#brand img {padding: .125em;}

/*		- menus --------------------------------------------------------------- */

/*			- mobileMenu -------------------------------------------------------- */
#mobileNav {position: relative;}

@media only screen and (min-width: 64em) {
	#mobileNav {display: none;}
}

#mobileNav .menu-link {
	display: block; width: 42px; height: 34px;
	background: #fff;
}
/* the hamburger button */
#mobileNav .menu-link span.bar,
#mobileNav .menu-link span.bar:before,
#mobileNav .menu-link span.bar:after {
	width: 24px; height: 2px;
	background-color: #55f;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
#mobileNav .menu-link span.bar {
	display: block; position: relative; top: 16px; left: 9px;
}
#mobileNav .menu-link span.bar:before {
	position: absolute; top: -8px; content: '';
}
#mobileNav .menu-link span.bar:after {
	position: absolute; top: 8px; content: '';
}

#mobileNav .pure-menu-list {display: none; position: absolute;}
/* show the mobile nav */
#mobileNav:focus .pure-menu-list,
#mobileNav:hover .pure-menu-list,
#mobileNav:active .pure-menu-list {display: block;}
/* from hamburger to cross */
#mobileNav:focus span.bar,
#mobileNav:hover span.bar,
#mobileNav:active span.bar,
#mobileNav:focus span.bar:before,
#mobileNav:hover span.bar:before,
#mobileNav:active span.bar:before,
#mobileNav:focus span.bar:after,
#mobileNav:hover span.bar:after,
#mobileNav:active span.bar:after {background: #d00;}
#mobileNav:focus span.bar,
#mobileNav:hover span.bar,
#mobileNav:active span.bar {background: transparent;}
#mobileNav:focus span.bar:before,
#mobileNav:hover span.bar:before,
#mobileNav:active span.bar:before {
	-webkit-transform: rotate(225deg) translate3d(-7px, -5px, 0);
	-moz-transform: rotate(225deg) translate3d(-7px, -5px, 0);
	-ms-transform: rotate(225deg) translate3d(-7px, -5px, 0);
	-o-transform: rotate(225deg) translate3d(-7px, -5px, 0);
	transform: rotate(225deg) translate3d(-7px, -5px, 0);
}
#mobileNav:focus span.bar:after,
#mobileNav:hover span.bar:after,
#mobileNav:active span.bar:after {
	-webkit-transform: rotate(-225deg) translate3d(-6px, 4px, 0);
	-moz-transform: rotate(-225deg) translate3d(-6px, 4px, 0);
	-ms-transform: rotate(-225deg) translate3d(-6px, 4px, 0);
	-o-transform: rotate(-225deg) translate3d(-6px, 4px, 0);
	transform: rotate(-225deg) translate3d(-6px, 4px, 0);
}

#mobileNav .pure-menu-list,
#mobileNav .pure-menu-children {box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);}
#mobileNav .pure-menu-item {background: #fff;}
#mobileNav #toggleShare {border-top: 1px solid #ccf;}
#mobileNav #toggleShare > a:before {font-family: inherit; content: 'Teilen';}
#mobileNav #toggleShare:focus .shariff,
#mobileNav #toggleShare:hover .shariff,
#mobileNav #toggleShare:active .shariff {display: block;}

/*			- desktopMenu ------------------------------------------------------- */
#desktopNav {max-width: 1000px; margin: 0 auto;}
#desktopNav ul ul {top: auto; left: 0;}
#desktopNav li {text-align: left; line-height: 1.25em;}
#desktopNav ul ul li {display: block;}

@media only screen and (min-width: 64em) {
	#desktopNav ul ul {box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, .8);	}
	#desktopNav ul ul li a {background: #fff; border-top: 1px solid #ddd;}

	#desktopNav .pure-menu-link:focus,
	#desktopNav .pure-menu-link:hover,
	#desktopNav .pure-menu-link:active {background: #eef;}
}

/*			- sideMenu ---------------------------------------------------------- */
#toggleSearch,
#toggleShare,
#logo {display: inline-block; line-height: 1.25em; vertical-align: middle;}

#searchContainer #search {position: absolute; top: 0; left: 16.666%; background: #fff;}

#searchContainer #toggleSearch a,
#searchContainer #toggleShare a {display: none; font-family: FontAwesome; font-weight: normal;}

#searchContainer #toggleSearch a:focus,
#searchContainer #toggleShare a:focus,
#searchContainer #toggleSearch a:hover,
#searchContainer #toggleShare a:hover,
#searchContainer #toggleSearch a:active,
#searchContainer #toggleShare a:active {color: #d00; text-decoration: none;}

#searchContainer #toggleSearch > a:before {content: '\f002';}

#searchContainer #search input {
	display: inline-block; margin: .325em 0; vertical-align: middle; padding: .125em .25em; width: 50%;
	background:#f8f8f8; box-shadow: none;
	border: 1px solid #55f; border-radius: 0;
	transition: width .1s ease-in-out;
}
#searchContainer #search input:focus,
#searchContainer #search input:hover,
#searchContainer #search input:active {
	outline: none; border: 1px solid #d00;
}
#searchContainer #toggleShare > a:before {content: '\f064';}
#searchContainer #toggleShare:focus div.shariff,
#searchContainer #toggleShare:hover div.shariff,
#searchContainer #toggleShare:active div.shariff {display: block;}

@media only screen and (min-width: 64em) {
	#searchContainer #toggleSearch a,
	#searchContainer #toggleShare a {display: block;}

	#searchContainer #search {display: none;}

	#searchContainer #toggleSearch:focus #search,
	#searchContainer #toggleSearch:hover #search,
	#searchContainer #toggleSearch:active #search {display: inline-block;}

	#searchContainer #search input {width: 33%; border-radius: 5px;}
	/* #searchContainer #search input:focus,
	#searchContainer #search input:hover,
	#searchContainer #search input:active {width: 50%;} */
}

/*			-  logo ------------------------------------------------------------- */
#logo {text-align: right;}
#logo a {display: block;}
#logo img {margin: 2px 2px 0 0;}

/*	main -------------------------------------------------------------------- */
main {margin: 1em auto 0; max-width: 1000px;}

@media only screen and (min-width: 64em) {
	main {margin-top: 3.5em;}
}

/*	siteTitle --------------------------------------------------------------- */
#siteTitle {
	margin-bottom: 1em;
	color: #ddd;
	background: rgba(224, 224, 224, .8);
	border-radius: 5px;
}
#siteTitleText {
	height: 150px;
	background: rgba(255, 255, 255, .5);
	border-radius: 5px;
}
#siteTitle h1,
#siteTitle h3 {
	color: #000; color: rgba(0, 0, 0, .5);
	font-weight: bold; font-size: 4em;
}
#siteTitle h1 {margin-top: .5em;}
#siteTitle h3 {font-size: 1.5em;}

@media only screen and (min-width: 48em) {
	/* #siteTitle h1 {padding: .5em 0 0; font-size: 2rem;} */
	/* #siteTitle h3 {padding: .25em 0 .75em; font-size: 1.5rem;} */
}

/*	todo -------------------------------------------------------------------- */
#todo {text-align: center; background: red;}

/*	summary ----------------------------------------------------------------- */
#summary {
	position: relative; margin-bottom: 1em;
	background: rgba(255, 255, 255, .9);
	border-top: 5px solid #aaf; border-bottom: 5px solid #aaf; border-radius: 5px;
}

#summaryContainer {
  position: relative; margin-top: .5em; padding: 0 .25em 0; height: 100%;
  overflow: hidden;
	border-bottom: 1px solid #ddd;
}
@media only screen and (min-width: 35.5em) {
	#summaryContainer {padding: 0 .5em;}
}
@media only screen and (min-width: 48em) {
	#summaryContainer {padding: 1.5em 1em 0;}
}

#summaryToggleButton {
	position: absolute; top: 0; right: .5em;
	color: #55f; font-size: 1.2em;
}
#summaryToggleButton:hover {color: #d00;}
#summary > div {
  display: block;
}

#summaryTeaser {position: relative; margin-top: .5em;}

.summary-text,
div.summary-img.width-100,
div.summary-img.width-75,
div.summary-img.width-50,
div.summary-img.width-25,
#summary h4,
#summary ul {margin-bottom: 1em;}
#summary h4 {
	padding-left: .5em;
	line-height: 1.5em;
	background: rgba(0, 0, 255, .1);
}

.summary-img {padding: 2px;	border: 1px solid #55f;}
.summary-img:focus,
.summary-img:hover,
.summary-img:active {border: 1px solid #d00;}
.summary-img:nth-of-type(odd) {float: right; margin: 0 0 0 .5em;}
.summary-img:nth-of-type(even) {float: left; margin: 0 .5em 0 0;}
.summary-img.float-left {float: left; margin: 0 .5em 0 0;}
.summary-img.float-right {float: right; margin: 0 0 0 .5em;}
.summary-img.width-100,
.summary-img.width-75,
.summary-img.width-50,
.summary-img.width-25 {float: none; margin: auto;}
.summary-img.width-75 {width: 75%;}
.summary-img.width-50 {width: 50%;}
.summary-img.width-25 {width: 50%;}

.summary-img img {display: block; height: 6.5em;}

.summary-img.size-xs img {height: 4.5em;}
.summary-img.size-sm img {height: 5.25em;}
.summary-img.size-lg img {height: 8em;}
.summary-img.size-xl img {height: 10em;}
.summary-img.size-xxl img {height: 12em;}
.summary-img.width-100 img,
.summary-img.width-75 img,
.summary-img.width-50 img,
.summary-img.width-25 img {width: 100%; height: auto;}
.summary-img-text {margin-top: 2px; font-size: .7rem;}

.summary-text {text-align: justify;}

.summary-list {list-style: square inside;}
.summary-list li {margin: .5em 0;}

/*		pageSubMenu ----------------------------------------------------------- */
#pageSubMenu {margin-bottom: 15px; border-radius: 5px;}
#pageSubMenu a {
	display: block; padding: 2em;
	font-size: 1.5rem;
	background: rgba(224, 224, 224, .8);
	border-bottom: 1px solid #fff;
	transition: all ease 1s;
}
#pageSubMenu li:last-child a {border-bottom: none;}
#pageSubMenu a:focus,
#pageSubMenu a:hover,
#pageSubMenu a:active {
	color: #fff;
	background: rgba(255, 255, 255, .3);
	transition: all ease .1s;
}

/*	dataArea ---------------------------------------------------------------- */
#dataContainer {
	margin-bottom: 1em;
	font-size: .9rem;
	background: rgba(255, 255, 255, .9);
	border-top: 5px solid #aaf; border-bottom: 5px solid #aaf; border-radius: 5px;
}
.leading-letter p {
	padding: .2em;
	font-size: 1.25rem; font-weight: normal;
	background: rgba(0, 0, 255, .1);
	border-bottom: 1px solid #fff;
	transition: all ease 1s;
}

.data-row {display: inline-block;	border-bottom: 1px solid #fff;}
.data-row:last-child {border-bottom: 1px solid #ddd;}

.data-row:focus,
.data-row:hover,
.data-row:active {
	background: rgba(255, 255, 255, .5);
	transition: all ease .1s;
}

/*	controlArea ------------------------------------------------------------- */
#controlArea {background: #eee;}
#controllers, #letterIndex {border-bottom: 1px solid #fff;}
#sort, #filter {
	display: inline-block; padding: .5em 0;
	font-size: .9rem; line-height: 2em;
}
#filter {float: right;}

/*		toggleAscDesc switch -------------------------------------------------- */
#toggleAscDesc {display: inline;}
#toggleAscDesc label {position: relative;}
#toggleAscDesc input {display: none;}
#toggleAscDesc .slider {
	position: absolute; top: 0; left: 2em; width: 3em; height: 1em;
	cursor: pointer;
	background: transparent;
	border: 1px solid #aaf; border-radius: 1em;
	transition: all .2s ease-in-out;
}
#toggleAscDesc .slider:focus,
#toggleAscDesc .slider:hover,
#toggleAscDesc .slider:active {background: #fff;}

#toggleAscDesc .slider:before {
	position: absolute; width: .8em; height: .8em; left: 0.1em; bottom: 0.1em;
	content: "";
	background: #55f;
	border-radius: 50%;
	transition: all .2s ease-in-out;
}
#toggleAscDesc input:checked + .slider:before {
	-webkit-transform: translateX(2em);
	-ms-transform: translateX(2em);
	transform: translateX(2em);
}
#toggleAscDesc .text:before {
	position: absolute; left: .75em; bottom: -.375em;
	color: #55f; font-family: FontAwesome; content: '\f160';
	transition: color .2s ease-in-out;
}
#toggleAscDesc input:checked ~ .text:before {
	color: #ccc;
	transition: color .2s ease-in-out;
}
#toggleAscDesc .text:after {
	position: absolute; left: 5.25em; bottom: -.375em;
	color: #ccc; font-family: FontAwesome; content: '\f161';}
#toggleAscDesc input:checked ~ .text:after {
	color: #55f;
	transition: color .2s ease-in-out;
}

/*	------------------------------------------------------------------------- */
#sortArea, #filterArea {display: none;}
#controlArea a {display: inline; margin: .2em;}

#sort:focus a.toggle-sort,
#sort:hover a.toggle-sort,
#sort:active a.toggle-sort,
#filter:focus a.toggle-filter,
#filter:hover a.toggle-filter,
#filter:active a.toggle-filter {display: none;}
#sort:focus #sortArea,
#sort:hover #sortArea,
#sort:active #sortArea,
#filter:focus #filterArea,
#filter:hover #filterArea,
#filter:active #filterArea {display: block;}

#controlArea label, #controlArea form {display: inline; margin: 0 .1em;}
#filterArea form {text-align: right;}
#sort select, #filter select {margin-left: .1em;}

#letterIndex {padding: .5em 0; font-size: 1rem;}
#letterIndex li {display: inline-block; padding: .2em 0; margin-right: .2em;}
#letterIndex a {display: inline-block; margin: 0 .2em;}

/*	switch ------------------------------------------------------------------ */
/*
#switch {float: left; font-size: .8rem; font-weight: 500;}
#switch li {float: left; width: 480px;}
#switch a {
	display: block; float: left; width: 478px; height: 1.25em; padding-top: 4px;
	background-image: linear-gradient(#fff, #e1e1e1);
	border-width: 0 1px 1px 1px; border-style: solid; border-color: #d0d0d0;
}
#switch a:focus, #switch a:hover, #switch a:active {
	background-image: linear-gradient(#fff, #c0c0c0);
}
#tableSwitch {float: right;}
*/

/*	notes ------------------------------------------------------------------- */
#notes {
	margin-bottom: 1em;
	font-size: .9rem;
	background: rgba(255, 255, 255, .9);
	border-top: 5px solid #aaf; border-bottom: 5px solid #aaf; border-radius: 5px;
}
#notes > div {padding: .5em 0 .25em; border-bottom: 1px solid #ddd;}

#notes h4 {
	margin: 0 .5em; padding: .25em .25em;
	color: #555;
	background: rgba(0, 0, 255, .1);
}
#notes p,
.notesTable {padding: .25em .5em;}

/*	Footer ------------------------------------------------------------------ */
footer {
	margin: 0 auto 1em; max-width: 1000px;
	background: #081422;
	border-radius: 5px;
}

footer a:link,
footer a:visited {color: #ccc;}
#footerContainer {margin: .5em;}

#sitemap,
#extras,
#version {padding: .5em 0; font-size: .9rem;}

#sitemap {text-align: center; border-bottom: 1px solid #666;}
#sitemap ul {display: inline-block;}
#sitemap li {text-align: left;}
#sitemap li:first-child a {
	margin-bottom: .25em;
	font-weight: bold;
	border-bottom: 1px dotted #ddd;
	background: #243038;
	transition: background ease .1s;
}
#sitemap li:first-child a:focus,
#sitemap li:first-child a:hover,
#sitemap li:first-child a:active {
	background: #323846;
	transition: background ease .1s;
}
#sitemap a {display: block; margin: 0 .25em; padding: .125em .5em; line-height: 1.75em;}
#sitemap a:focus,
#sitemap a:hover,
#sitemap a:active {
	background: #323846; transition: background ease .1s;
}

#extras {border-bottom: 1px solid #666;}
#extras li {
	display: inline-block; margin: .125em 1em; line-height: 2.5em;
}

footer #version p {
	margin: .5em 0;
	color: #ddd; line-height: 15px; font-size: .8rem;
}

/* -------------------------------------------------------------------------- */
/* breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em ------ */

@media only screen and (min-width: 48em) {
	#sortArea, #filterArea, #sort form, #filter form {display: inline;}
	#sort a, #filter a {display: none;}
}

@media only screen and (min-width: 64em) {
	#logo {text-align: center;}
	#logo img {margin: 2px 0 0 0;}

	#mobileNavs,
	#navToggle {display: none;}

	#controlArea {min-height: 1.5em;}

	/* #sitemap {margin: 0 auto;} */
	/* #sitemap ul:nth-of-type(n) li {margin: 0 .25em .5em; border-radius: 5px;} */
	/* #sitemap ul:first-child li {margin: 0 .25em 0 0;}
	#sitemap ul:last-child li {margin: 0 0 0 .25em;}
	#sitemap a {padding-left: .25em;} */
}

