#pageSubMenu li.missions,
#siteTitle.missions {
	background: url('/img/title_missions.jpg') center / cover no-repeat;
}

.mission-row {padding: .5em 0;}
.mission-row div {font-size: 1rem;}

.mission-name2,
.mission-country,
.mission-duration {font-size: .75rem;}
.mission-country img {margin: .25em 0 .25em .25em; height: .75rem;}
.mission-country img:first-child {margin-left: 0;}
.mission-launch,
.mission-dash,
.mission-end {display: inline;}
.mission-dash.empty,
.mission-end.empty {display: none;}

/*	breakpoints ------------------------------------------------------------- */
/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 35.5em) {
	.mission-row {display: flex; padding: .25em 0; align-items: center;}
}
@media only all and (min-width: 48em) {
	.mission-data {display: flex; align-items: center;}
	.mission-data1 {text-align: center;}
	.mission-data2 {text-align: left;}
	.mission-launch,
	.mission-dash,
	.mission-end,
	.mission-dash.empty,
	.mission-end.empty,
	.mission-duration {display: inline-block;}
}
@media only all and (min-width: 64em) {
	.mission-row {padding: .75em 0;}
	.mission-info {
		display: flex; flex-flow: row wrap;
		justify-content: flex-end; align-items: flex-end;
		margin-right: 1.5em; text-align: right;
	}
	.mission-data1 {
		display: flex; flex-flow: row wrap;
		justify-content: flex-end; align-items: flex-end;
	}
	.mission-country {order: 2; margin-left: .5em;}
	.mission-country img {margin: 0 0 0 .25em;}
	.mission-country img:first-child {margin-left: 0;}
	.mission-name2 {order: 3;}
	.mission-duration {text-align: center;}
	.mission-data2 {margin-left: 1.5em;}
}
