#siteTitle.persons {
	background: url('../img/title_people.jpg') center / cover no-repeat;
}
#siteTitle.astronauts,
#pageSubMenu li.astronauts {
	background: url('../img/title_astronauts.jpg') center / cover no-repeat;
}
#siteTitle.scientists,
#pageSubMenu li.scientists {
	background: url('../img/title_astronomers.jpg') center / cover no-repeat;
}

/*	persons & scientists -------------------------------------------------------*/
.person-row, .scientist-row {padding: .2em 0;}

.person-name, .scientist-name {font-size: 1rem; text-align: center;}

.person-info, .scientist-info,
.person-life, .scientist-life {font-size: .9rem; text-align: center;}

.person-info div, .scientist-info div,
.person-life div, .scientist-life div {display: inline-block;}
.person-born p, .scientist-born p {margin-right: .2em; text-align: right;}
.person-died p, .scientist-died p {margin-left: .2em; text-align: left;}

/*	astronauts ----------------------------------------------------------------*/
.leading-letter p {border: none;}

.astronaut-card {display: inline-block; width: 100%; font-size: .9rem;}
.astronaut-card-container {
	margin: .25em;
	background: rgba(255, 255, 255, .3);
	transition: all ease 1s;
}
.astronaut-card-container:focus,
.astronaut-card-container:hover,
.astronaut-card-container:active {
	background: rgba(255, 255, 255, .8);
	transition: all ease .2s;
}

.astronaut-name,
.astronaut-info {padding: .25em;}
.astronaut-name {background: rgba(0, 0, 255, .1);}
.astronaut-name a,
.astronaut-name p.astronaut-country {display: inline;}
.astronaut-name img {margin-left: .5em; height: .75em;}

.astronaut-info {
	display: flex; align-items: top;
	border-width: 0 1px 1px 1px; border-style: solid;
	border-color: rgba(0, 0, 255, .1);
}
.astronaut-img,
.astronaut-data {display: inline-block;}
.astronaut-img img {height: 110px; border: 1px solid #55f;}
.astronaut-img img:focus,
.astronaut-img img:hover,
.astronaut-img img:active {border: 1px solid #d00;}

.astronaut-data span {margin-left: .5em;}
.astronaut-born,
.astronaut-died,
.astronaut-numberofmissions,
.astronaut-numberofspacewalks,
.astronaut-durationofspacewalks {display: inline;}
.astronaut-firstflight {display: block;}
.astronaut-died,
.astronaut-timeinspace,
.astronaut-durationofspacewalks {padding-left: .5em;}

/*	breakpoints ------------------------------------------------------------- */
/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 675px) {
	.astronaut-card {width: 50%;}
}
@media only all and (min-width: 1000px) {
	.astronaut-card {width: 33.333%;}
}
@media only all and (min-width: 48em) {
	.person-name,	.scientist-name {line-height: 2.5em; font-size: .9rem;}
	.person-name,	.scientist-name,
	.person-info,	.scientist-info,
	.person-life,	.scientist-life {text-align: left;}
	.person-name p,	.scientist-name p {margin-left: .2em;}
	.person-born p,	.scientist-born p {text-align: left;}
}
@media only all and (min-width: 64em) {
	.person-name,	.scientist-name,
	.person-info,	.scientist-info,
	.person-life,	.scientist-life {line-height: 1.75em; text-align: left;}
	.astronaut-card-container,
	.astronaut-img img {border-radius: 5px;}
	.astronaut-name {border-radius: 5px 5px 0 0;}
	.astronaut-info {border-radius: 0 0 5px 5px;}
}
