.shariff {
	display: none; position: relative; top: 0; right: 0;
	box-shadow: 0 2px 4px 0 #666;
}
.shariff ul.orientation-vertical {padding: 0 5px; width: 120px;}

@media only screen and (min-width: 64em) {
	.shariff {
		right: 100%; width: 150px; background: #fff; border-radius: 0 0 5px 5px;
	}
	.shariff ul.orientation-vertical {width: 140px;}
}
