#pageSubMenu li.spacetelescopes,
#siteTitle.spacetelescopes {
	background: url('../img/title_spacetelescopes.jpg') center / cover no-repeat;
}

.spacetelescope-row {padding: .5em 0; font-size: 1rem;}

.spacetelescope-img {overflow: hidden;}
.spacetelescope-img img {height: 100px;}
.spacetelescope-img small {display: block; font-size: .65rem;}
.spacetelescope-img small:last-child {margin-left: .5em;}

.spacetelescope-name {margin-top: .5em;}
p.spacetelescope-alternative-name {font-size: .8rem;}
.spacetelescope-country {font-size: .8rem;}
.spacetelescope-country img {margin: .25em 0 .25em .25em; height: .75rem;}
.spacetelescope-country img:first-child {margin-left: 0;}

/*	breakpoints ------------------------------------------------------------- */
/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 35.5em) {
	.spacetelescope-info {text-align: left;}
	.spacetelescope-name {margin-top: 0;}
}
@media only all and (min-width: 48em) {
	.spacetelescope-row {display: flex; align-items: center;}
	.spacetelescope-info {display: flex; align-items: center;}
  .spacetelescope-info1 {text-align: center;}
}
@media only all and (min-width: 64em) {
	.spacetelescope-info2 {text-align: center;}
	}
