#pageSubMenu li.spacestations,
#siteTitle.spacestations {
	background: url('../img/title_spacestations.jpg') center / cover no-repeat;
}

.station-row {padding: .5em 0; font-size: 1rem;}

.station-img {overflow: hidden;}
.station-img img {height: 100px;}
.station-img small {display: block; font-size: .65em;}
.station-img small:last-child {margin-left: .5em;}

.station-name {margin-top: .5em;}
.station-operator {font-size: .8rem;}
.station-operator img {margin: .25em 0 .25em .1em; height: .75rem;}
.station-operator img:first-child {margin-left: 0;}

/*	breakpoints ------------------------------------------------------------- */
/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 35.5em) {
	.station-info {text-align: left;}
	.station-name {margin-top: 0;}
}
@media only all and (min-width: 48em) {
	.station-row {display: flex; align-items: center;}
	.station-info {display: flex; align-items: center;}
  .station-info1 {text-align: center;}
}
