#pageSubMenu li.stars,
#siteTitle.stars {
	background: url('/img/title_stars.jpg') center / cover no-repeat;
}

.star-row {padding: .2em 0;}

.star-name div {display: block; font-size: 1rem; text-align: center;}
.star-data1 div,
.star-data2 div {display: inline-block; font-size: .9rem;}

/* only for visualisation ----------------------------------------------------*/
/*.star-name div, .star-data1 div, .star-data2 div {outline: 1px solid blue;}*/
/* ---------------------------------------------------------------------------*/

/*	breakpoints ------------------------------------------------------------- */
/* global breakpoints min-width: sm = 35.5em, md = 48em, lg = 64em, xl = 80em */
@media only all and (min-width: 48em) {
	.star-name div {display: block;}
	.star-name div:first-child p {margin-left: .2em;}

	.star-data1 div,
	.star-data2 div {line-height: 2.25em;}
}
@media only all and (min-width: 64em) {
	.star-name div,
	.star-data1 div,
	.star-data2 div {font-size: .9rem; line-height: 1.75em;}

	.star-name div {display: inline-block; text-align: left;}
	.star-data1 div {text-align: left;}
}
