---
layout: "index.html.njk"
jsonData:
  data: "chronicle.json"
---

<div id="siteTitle" class="events pure-u-1 center">
  <div id="siteTitleText" class="pure-u-1 center">
    <h1>{{ headline1 }}</h1>
    <h3>{{ headline2 }}</h3>
  </div>
</div>
<div id="summary" class="pure-u-1 left">
  <div id="summaryContainer">
    <div id="summaryToggleButton">
      <i class="fa-regular fa-square-minus" title="Artikel verbergen"></i>
    </div>
    {{ content | safe }}
    <!--<div id="summaryTeaser">
      <p class="summary-text">
        Seit Jahrtausenden blicken wir in den Himmel und versuchen zu ergründen, was uns umgibt und woher wir kommen. Auch die
        frühen Menschen stellten sich wohl schon die große Frage: Was ist dort draußen?</p>
    </div>
    <div id="summaryReadMore">
      <div class="summary-img float-left size-md">
        <a href="img/chronicle/nebra_lg.jpg" title="Himmelsscheibe von Nebra - Großansicht"><img src="../../img/chronicle/nebra_sm.jpg" alt="Himmelsscheibe von Nebra"/>
        </a>
        <p class="summary-img-text">Himmelsscheibe<br/>von Nebra<br/>Bild: Dbachmann<br/><a href="http://creativecommons.org/licenses/by-sa/3.0/" title="CC BY-SA 3.0">CC BY-SA 3.0</a>
        </p>
      </div>
      <p class="summary-text">Täglich ziehen Sonne, Mond und Sterne am Firmament entlang und bestimmen den Rhythmus des Lebens
        auf der Erde. Schon in den ersten menschlichen Gesellschaften erkannten Priester und Schamanen kosmische Zyklen und
        nutzten ihr Wissen. Aussaat und Ernte richteten sich danach, kultische Riten entstanden.</p>
      <p class="summary-text">
        Rund um den Globus besaßen die Erbauer der ersten Observatorien schon verblüffend genaue astronomische Kenntnisse. Die
        Sonnenwenden und Mondphasen, das Erscheinen von besonders hellen Planeten, Sternen und deren Konstellationen bildeten
        die Grundlagen für die ersten Kalender.</p>
      <div class="summary-img float-right size-xl">
        <a href="img/chronicle/herschel_telescope_lg.jpg" title="Wilhelm Herschels 40-Fuß-Teleskop - Großansicht"><img src="../../img/chronicle/herschel_telescope_sm.jpg" alt="Wilhelm Herschels 40-Fuß-Teleskop"/>
        </a>
        <p class="summary-img-text">Herschels 40-Fuß-Teleskop</p>
      </div>
      <p class="summary-text">Seefahrer und Händler teilten die Beobachtungen, die sie auf ihren Reisen gewonnen hatten.
        Mathematiker und Philosophen berechneten bereits in der Antike geografische und astronomische Größen und stellten erste
        Theorien über die Beschaffenheit des Größten wie des Kleinsten im Universum auf.</p>
      <p class="summary-text">Zeit und Raum waren bestimmbar geworden. Die große Frage der Himmelskunde nach dem Zentrum der
        Schöpfung bewegte die Astronomen des Mittelalters. Im Spannungsfeld zwischen Wissenschaft und kulturell-religiösen
        Traditionen setzten sich bahnbrechende Erkenntnisse jedoch nur langsam durch.
      </p>
      <p class="summary-text">Vor 500 Jahren sprengte dann das
        <em>Fernrohr</em>
        die Grenzen des menschlichen Auges. Nach und nach offenbarten sich die Gesetze der Natur, unser Weltbild wurde
        präziser.
        <em>Planetenbahnen</em>
        und die
        <em>Gravitation</em>
        wurden in der Sprache der Mathematik beschrieben.
      </p>
      <div class="summary-img float-left size-lg">
        <a href="img/chronicle/Columbia_sts-1_lg.jpg" title="Space Shuttle Columbia STS-1 - Großansicht"><img src="../../img/chronicle/Columbia_sts-1_sm.jpg" alt="Space Shuttle Columbia STS-1"/>
        </a>
        <p class="summary-img-text">Space Shuttle Columbia, STS-1</p>
      </div>
      <p class="summary-text">Doch der Mensch wollte den Himmel nicht nur betrachten, er wollte ihn bereisen. Erkenntnisse in
        der Physik und Chemie ermöglichten das Reisen per Ballon, später im Flugzeug. Wir wollten mehr - schneller, höher,
        weiter!</p>
      <p class="summary-text">Die Raumfahrt beförderte dann den Menschen erstmals in den Kosmos. Sie bereicherte unseren
        Erfahrungsschatz um viele schöne und interessante Momente, aber auch um einige Tragödien. So ließen Generationen von
        Wissenschaftlern und Pionieren den kollektiven Wissensspeicher der Menschheit immer weiter anwachsen.</p>
      <p class="summary-text">
        <em>Urknall</em>,
        <em>Raumzeit</em>
        und
        <em>Quantenmechanik</em>, die Kräfte im
        <em>Atom</em>,
        <em>Schwarze Löcher</em>
        und
        <em>Dunkle Materie</em>
        - immer weiter dringt die Menschheit in die Geheimnisse des Universums vor. Mit unseren Augen und Ohren, mit
        Teilchenbeschleunigern und Teleskopen greifen wir nach den Sternen, und jedes gelöste Rätsel wirft neue Fragen auf.
        Willkommen in der Geschichte der Zukunft!
      </p>
      <h4>Wussten Sie schon?</h4>
      <ul class="summary-list">
        <li>Die ca. 4000 Jahre alte
          <em>Himmelsscheibe von Nebra</em>
          ist eines der ältesten Zeugnisse astronomischer Darstellungen der Menschheit.</li>
        <li>Chinesische Astonomen beschrieben bereits 613 v. Chr. den 2300 Jahre später nach
          <em>Edmund Halley</em>
          benannten Kometen.</li>
        <li>Schon 1917 entwickelte der deutsche Raumfahrtpionier
          <em>Hermann Oberth</em>
          eine mit Ethanol und Sauerstoff betriebene Rakete.</li>
      </ul>
    </div>-->
  </div>
</div>
<div id="dataContainer" class="events pure-u-1">
  <div id="timeline">
    {% for item in jsonData.data %}
      <div class="event-container">
        <div class="event-circle"></div>
        <div class="event-arrow"></div>
        <div class="event-content">
          <p class="event-date">{{ item.itemDateYear }}</p>
          <p class="event-place">
            <a href="geo:{{ item.itemlatitude }},{{ item.itemlongitude }}" title="{{ item.itemCountry }}, {{ item.itemLocation }} auf der Karte anzeigen">
              {{ item.itemCountry }}, {{ item.itemLocation }}
            </a>
          </p>
          <p class="event-name">
            <a name="{{ item.itemname }}">{{ item.itemname }}</a>
          </p>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div id="notes" class="pure-u-1">
  <div id="notesDefault">
    <div id="notComplete" class="pure-u-1 center">
      <p>Sie kennen noch mehr Daten zu dieser Seite?<br/>
        <a href="/about#contact" target="_self" title="Kontakt">Bereichern Sie cosmowiki.org.</a>
      </p>
    </div>
  </div>
</div>