<!DOCTYPE html>
<html lang="de">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Holger Porsch">
    <meta name="description" content="{{title}}">

    {% block metaOpenGraph %}
      <meta property="og:title" content="{{ title }}">
      <meta property="og:type" content="website">
      {% if canonicalUrl %}<meta property="og:url" content="{{ canonicalUrl }}">{% endif %}
      <meta property="og:site_name" content="{{title}}">
    {% endblock %}

    {% block previewImage %}
      <meta property="og:image" content="https://cosmowiki.de/img/cw_header.jpg" />
      <meta property="og:image:url" content="https://cosmowiki.de/img/cw_header.jpg" />
      <meta name="twitter:image" content="https://cosmowiki.de/img/cw_header.jpg" />
    {% endblock %}

    {% if canonicalUrl %}<link rel="canonical" href="{{ canonicalUrl }}">{% endif %}
    <title>{{title}}</title>
    <script src="https://kit.fontawesome.com/4a47b447cd.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../../img/favicon.ico" />
    <link rel="stylesheet" href="/css/cw.css">
    <link rel="stylesheet" href="/css/chronicle.css">
  </head>

  <body>
    <div id="app">
      <div id="wrapper" class="pure-g">
        <nav class="primary">
          <a href="/">Home</a>
          <a href="/de/chronicle">Chronik</a>
        </nav>

        {{ content | safe }}

        <footer>
          <div>
            Last update: {{ page.date }}
          </div>
        </footer>
      </div>
    </div>
    <script>
      const summaryToggleButton = document.querySelector("#summaryToggleButton");
      const summaryRest = document.querySelector("#summaryRest");

      summaryToggleButton.addEventListener("click", (event) => {
        event.preventDefault();
        summaryRest.classList.toggle("hidden");
        summaryToggleButton.textContent = summaryRest.classList.contains("hidden") ? "Artikel lesen" : "Artikel verbergen";
      });
    </script>
  </body>
</html>