<!DOCTYPE html>
<html lang="de">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Holger Porsch">
    <meta name="description" content="{{ title }}">
    {% block metaOpenGraph %}
      <meta property="og:title" content="{{ title }}">
      <meta property="og:type" content="website">
      {% if canonicalUrl %}<meta property="og:url" content="{{ canonicalUrl }}">{% endif %}
      <meta property="og:site_name" content="{{ title }}">
    {% endblock %}
    {% block previewImage %}
      <meta property="og:image" content="https://cosmowiki.de/img/cw_header.jpg"/>
      <meta property="og:image:url" content="https://cosmowiki.de/img/cw_header.jpg"/>
      <meta name="twitter:image" content="https://cosmowiki.de/img/cw_header.jpg"/>
    {% endblock %}
    {% if canonicalUrl %}<link rel="canonical" href="{{ canonicalUrl }}">{% endif %}
    <title>{{ title }}</title>
    <link rel="icon" href="../../img/favicon.ico"/>
    <script src="https://kit.fontawesome.com/4a47b447cd.js" crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
      integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
      crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/grids-responsive-min.css">

    <link rel="stylesheet" type="text/css" media="all" href="../../css/cw.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/shariff.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/home.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/welcome.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/about.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/astronomy.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/constellations.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/chronicle.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/galaxies.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/missions.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/objects.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/persons.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/places.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/probes.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/register.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/rockets.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/satellites.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/solsys.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/spaceflight.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/spacestations.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/spacetelescopes.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/spacewalks.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/stars.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/telescopes.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="../../css/vcard.css"/>
  </head>
  <body>
    <div id="app">
      <div id="wrapper" class="pure-g">
        <div id="scrollButtons">
          <button id="scrollUp">
            <a href="javascript:self.scrollTo(0,0);" title="scroll zum Anfang"></a>
          </button>
          <button id="scrollDown">
            <a href="javascript:self.scrollTo(0,document.body.scrollHeight);" title="scroll zum Ende"></a>
          </button>
        </div>
        <header class="pure-g">
          <div id="brand" class="pure-u-1-6 pure-u-lg-1-6 center">
            <a href="/" title="CosmoWiki.de" rel="home"><img src="../../img/cw_name_30px.jpg" alt="CosmoWiki Title"/>
            </a>
          </div>
          <div id="navContainer" class="pure-u-1-6 pure-u-lg-2-3 center">
            <div id="mobileNav" class="pure-u-1">
              <nav class="pure-menu custom-restricted-width">
                <a id="mobileMenuToggle" class="menu-link" href="#" title="Navigation">
                  <span class="bar"></span>
                </a>
                <ul class="pure-menu-list">
                  <li class=" pure-menu-item pure-u-1-6">
                    <a class="pure-menu-link chronicle" href="/chronicle">Chronik</a>
                  </li>
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a class="pure-menu-link persons" href="/people">Personen</a>
                    <ul class="pure-menu-children persons">
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item persons" href="/scientists">Wissenschaftler</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item persons" href="/astronauts">Raumfahrer</a>
                      </li>
                    </ul>
                  </li>
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a class="pure-menu-link places" href="/places">Orte</a>
                  </li>
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a class="pure-menu-link objects" href="/objects">Objekte</a>
                    <ul class="pure-menu-children objects">
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item objects" href="/solar-system">Sonnensystem</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item objects" href="/constellations">Sternbilder</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item objects" href="/stars">Sterne</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item objects" href="/space-stations">Raumstationen</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item objects" href="/space-telescopes">Weltraumteleskope</a>
                      </li>
                    </ul>
                  </li>
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a class="pure-menu-link astronomy" href="/astronomy">Astronomie</a>
                    <ul class="pure-menu-children astronomy">
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item astronomy" href="/scientists">Wissenschaftler</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item astronomy" href="/solar-system">Sonnensystem</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item astronomy" href="/constellations">Sternbilder</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item astronomy" href="/stars">Sterne</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item astronomy" href="/space-telescopes">Weltraumteleskope</a>
                      </li>
                    </ul>
                  </li>
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a class="pure-menu-link spaceflight" href="/spaceflight">Raumfahrt</a>
                    <ul class="pure-menu-children spaceflight">
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item spaceflight" href="/astronauts">Raumfahrer</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item spaceflight" href="/missions">Missionen</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item spaceflight" href="/spacewalks">Weltraumausstiege</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item spaceflight" href="/space-stations">Raumstationen</a>
                      </li>
                      <li class=" pure-menu-item pure-u-1-6">
                        <a class="pure-menu-link pure-menu-item spaceflight" href="/space-telescopes">Weltraumteleskope</a>
                      </li>
                    </ul>
                  </li>
                  <li id="toggleShare" class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" class="pure-menu-link menu-item"></a>
                    <ul class="pure-menu-children">
                      <li class=" pure-menu-item pure-u-1-6">
                        <div
                          class="shariff center"
                          data-services="twitter, facebook, googleplus, info"
                          data-twitter-via="cosmowiki"
                          data-orientation="vertical"></div>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
            <div id="desktopNav">
              <nav class="pure-menu pure-menu-horizontal custom-can-transform">
                <ul class="pure-menu-list">
                  <li class="pure-menu-item">
                    <a class="pure-menu-link chronicle" href="/de/chronicle">Chronik</a>
                  </li>
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a class="pure-menu-link persons" href="/de/people">Personen</a>
                    <ul class="pure-menu-children persons">
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item persons" href="/de/scientists">Wissenschaftler</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item persons" href="/de/astronauts">Raumfahrer</a>
                      </li>
                    </ul>
                  </li>
                  <li class="pure-menu-item">
                    <a class="pure-menu-link places" href="/de/places">Orte</a>
                  </li>
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a class="pure-menu-link objects" href="/de/objects">Objekte</a>
                    <ul class="pure-menu-children objects">
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item objects" href="/de/solar-system">Sonnensystem</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item objects" href="/de/constellations">Sternbilder</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item objects" href="/de/stars">Sterne</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item objects" href="/de/space-stations">Raumstationen</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item objects" href="/de/space-telescopes">Weltraumteleskope</a>
                      </li>
                    </ul>
                  </li>
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a class="pure-menu-link astronomy" href="/de/astronomy">Astronomie</a>
                    <ul class="pure-menu-children astronomy">
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item astronomy" href="/de/scientists">Wissenschaftler</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item astronomy" href="/de/solar-system">Sonnensystem</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item astronomy" href="/de/constellations">Sternbilder</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item astronomy" href="/de/stars">Sterne</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item astronomy" href="/de/space-telescopes">Weltraumteleskope</a>
                      </li>
                    </ul>
                  </li>
                  <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a class="pure-menu-link spaceflight" href="/de/spaceflight">Raumfahrt</a>
                    <ul class="pure-menu-children spaceflight">
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item spaceflight" href="/de/astronauts">Raumfahrer</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item spaceflight" href="/de/missions">Missionen</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item spaceflight" href="/de/spacewalks">Weltraumausstiege</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item spaceflight" href="/de/space-stations">Raumstationen</a>
                      </li>
                      <li class="pure-menu-item">
                        <a class="pure-menu-link pure-menu-item spaceflight" href="/de/space-telescopes">Weltraumteleskope</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <div id="searchContainer" class="pure-u-1-6 pure-u-lg-1-6 center">
            <nav class="pure-menu pure-menu-horizontal custom-can-transform">
              <ul class="pure-u-1">
                <li id="toggleSearch" class="pure-u-1-3 center">
                  <a></a>
                  <div id="search" class="pure-u-2-3 center">
                    <input type="text" name="search" placeholder="suchen ..." required="" />
                  </div>
                </li>
                <li id="toggleShare" class="pure-u-1-3 center">
                  <a></a>
                  <div
                    class="shariff center"
                    data-services="twitter, facebook, googleplus, info"
                    data-twitter-via="cosmowiki"
                    data-orientation="vertical"></div>
                </li>
                <li id="logo" class="pure-u-1-3 center">
                  <a href="/" title="CosmoWiki.de" rel="home"><img src="../../img/cw_icon_30px.jpg" alt="CosmoWiki Logo"/>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </header>
        <main role="main" class="pure-u-1">
          {{ content | safe }}
        </main>
        <footer class="pure-u-1 center">
          <div id="footerContainer">
            <div id="sitemap" class="pure-g left">
              <ul class="pure-u-1-6">
                <li class="left">
                  <a class="chronicle" href="/de/chronicle">Chronik</a>
                </li>
              </ul>
              <ul class="pure-u-1-6">
                <li class="left">
                  <a class="persons" href="/de/people">Personen</a>
                </li>
                <li class="left">
                  <a class="persons" href="/de/scientists">Wissenschaftler</a>
                </li>
                <li class="left">
                  <a class="persons" href="/de/astronauts">Raumfahrer</a>
                </li>
              </ul>
              <ul class="pure-u-1-6">
                <li class="left">
                  <a class="places" href="/de/places">Orte</a>
                </li>
              </ul>
              <ul class="pure-u-1-6">
                <li class="left">
                  <a class="objects" href="/de/objects">Objekte</a>
                </li>
                <li class="left">
                  <a class="objects" href="/de/solar-system">Sonnensystem</a>
                </li>
                <li class="left">
                  <a class="objects" href="/de/constellations">Sternbilder</a>
                </li>
                <li class="left">
                  <a class="objects" href="/de/stars">Sterne</a>
                </li>
                <li class="left">
                  <a class="objects" href="/de/space-stations">Raumstationen</a>
                </li>
                <li class="left">
                  <a class="objects" href="/de/space-telescopes">Weltraumteleskope</a>
                </li>
              </ul>
              <ul class="pure-u-1-6">
                <li class="left">
                  <a class="astronomy" href="/de/astronomy">Astronomie</a>
                </li>
                <li class="left">
                  <a class="astronomy" href="/de/scientists">Wissenschaftler</a>
                </li>
                <li class="left">
                  <a class="astronomy" href="/de/solar-system">Sonnensystem</a>
                </li>
                <li class="left">
                  <a class="astronomy" href="/de/constellations">Sternbilder</a>
                </li>
                <li class="left">
                  <a class="astronomy" href="/de/stars">Sterne</a>
                </li>
                <li class="left">
                  <a class="astronomy" href="/de/space-telescopes">Weltraumteleskope</a>
                </li>
              </ul>
              <ul class="pure-u-1-6">
                <li class="left">
                  <a class="spaceflight" href="/de/spaceflight">Raumfahrt</a>
                </li>
                <li class="left">
                  <a class="spaceflight" href="/de/astronauts">Raumfahrer</a>
                </li>
                <li class="left">
                  <a class="spaceflight" href="/de/missions">Missionen</a>
                </li>
                <li class="left">
                  <a class="spaceflight" href="/de/spacewalks">Weltraumausstiege</a>
                </li>
                <li class="left">
                  <a class="spaceflight" href="/de/space-stations">Raumstationen</a>
                </li>
                <li class="left">
                  <a class="spaceflight" href="/de/space-telescopes">Weltraumteleskope</a>
                </li>
              </ul>
            </div>
            <div id="extras">
              <ul>
                <li><a href="/about#whatis" target="_self" title="Über uns">Über uns</a></li>
                <li><a href="/about#license" target="_self" title="Lizenz">Lizenz</a></li>
                <li><a href="/about#contribute" target="_self" title="Beitragen">Beitragen</a></li>
                <li><a href="/about#thanks" target="_self" title="Danke">Danke</a></li>
                <li><a href="/about#contact" target="_self" title="Kontakt">Kontakt</a></li>
                <li><a href="https://twitter.com/cosmowiki" title="CosmoWiki.org bei Twitter">Twitter</a></li>
                <li><a href="https://github.com/cosmowiki/cosmowiki" title="CosmoWiki.org bei Github">Github</a></li>
                <li><a href="/about#imprint" target="_self" title="Impressum">Impressum</a></li>
              </ul>
            </div>
            <div id="version">
              <p>v. 1.0.0</p>
              <p>Last update: {{ page.date }}</p>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <script>
      const summaryToggleButton = document.querySelector("#summaryToggleButton i");
      const summaryReadMore = document.querySelector("#summaryReadMore");
      summaryToggleButton.addEventListener("click", (event) => {
        event.preventDefault();
        summaryReadMore.classList.toggle("hidden");
        summaryToggleButton.title = summaryReadMore.classList.contains("hidden")
          ? "Artikel lesen"
          : "Artikel verbergen";
        summaryToggleButton.classList = summaryReadMore.classList.contains("hidden")
          ? "fa-regular fa-square-plus"
          : "fa-regular fa-square-minus";
      });
    </script>
  </body>
</html>